apiVersion: v1
kind: ServiceAccount
metadata:
  name: scaler-service-account
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: deployment-scaler-role
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments/scale"]
    verbs: ["patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: scaler-role-binding
subjects:
  - kind: ServiceAccount
    name: scaler-service-account
    namespace: default
roleRef:
  kind: ClusterRole
  name: deployment-scaler-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-scaler-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-scaler
  template:
    metadata:
      labels:
        app: custom-scaler
    spec:
      serviceAccountName: scaler-service-account
      imagePullSecrets:
        - name: acr-secret
      containers:
        - name: scaler
          image: poornavscalerfinal.azurecr.io/scaler:v6
          env:
            - name: PROMETHEUS_URL
              value: "http://prometheus:9090"
